@import 'base';
@import 'variables';

// TODO: Look through bootstrap and use some scalfolding, maybe fluid resizing
body {
  background: white url(/static/img/bg_tile.gif);
  padding: 12px 0px 24px;

  // TODO: Check out some different fonts
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica,Arial, sans-serif;
  font-size: 22px;
  line-height: 1.4em;
  color: #444;

  .container {
    margin: 0px auto 12px;

    height: 100%;
    width: 60%;
    min-width: 640px;

    background-color: white;
    opacity: 0.88;
    border-radius: 9px;

    .header {

      h1.name {
        // TODO: Move this up to header, but figure out padding bug first
        padding-left: 42px;
        padding-top: 11px;
      }
    }

    .home {
      text-align: justify;
      padding: 0px 40px;

      p {
        padding: 0px 0px 28px;
        margin: 0px;
      }
    }
  }
}

.navbar {

  ul {
    @extend .clearfix;

    margin: 0px;

    li {
      float: left;
      display: inline;

      text-align: center;

      cursor: pointer;

      a {
        padding: 0px 22px;
      }

      // For debugging
      //&:hover {
      //  outline: red solid 1px;
      //}
    }
  }
}
