@import 'base';
@import 'variables';

// TODO: Look through bootstrap and use some scalfolding, maybe fluid resizing
body {
  background: white url(/static/img/bg_tile.gif);
  padding: 12px 0px 24px;

  // TODO: Check out some different fonts
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica,Arial, sans-serif;
  font-size: 22px;
  line-height: 1.4em;
  color: #444;

  .container {
    padding: 12px 0px 0px;
    margin: 0px auto 12px;

    height: 100%;
    width: 60%;
    min-width: 640px;

    background-color: white;
    opacity: 0.88;
    border-radius: 9px;

    .content {
      text-align: justify;
      padding: 0px 40px;

      // Body header
      h2 {
        padding: 0px 0px 6px;
        margin: 0px;

        font-size: 40px;
        line-height: 1.4em;
      }

      // Body text
      p {
        padding: 0px 0px 28px;
        margin: 0px;
      }
    }
  }
}

.navbar {

  ul.nav-items {
    @extend .clearfix;

    padding: 0px;
    margin: 0px;

    li.nav-item {
      display: inline-block;
      width: 19%;

      text-align: center;
      vertical-align: middle;

      padding: 0px;
      margin: 0px;

      // For debugging
      //&:hover {
      //  outline: red solid 1px;
      //}
    }
    .name {
      border-left: 1px dotted #333333;
    }
  }
}
